.registration-form {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #dee2e6;
  border-radius: 0.375rem;
  background-color: #ffffff;
  box-shadow: 0 0.125rem 0.25rem rgb(247, 190, 0);
}
.registration-form .helptext {color: #b7b7b7}

.registration-form .errorlist {
  color: #ca5858;
  font-weight: bold;
}

.auth-container {
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
}

#exit {display: inline}

.exit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 70px);
  text-align: center;
}

.exit-message {
  margin-bottom: 20px;
}

.exit-actions .btn {
  font-size: 16px;
  padding: 10px 20px;
}

.user_images {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 15px;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding-top: 60px;
}

.alert-light {
    background-color: rgba(255, 255, 255, 0.8);
}

   .fixed-top-navbar {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1030;
        }

.profile-container {
  text-align: center;
}

.user_images {
  display: block;
  margin: 0 auto;
}

.right-align {
    text-align: right;
}

.no-underline {
    text-decoration: none;
    color: inherit;
}

.menu{
    display: flex;
}

.menu li{
    width: 100px;
    list-style: none;
    background: #0D6EFD;
    position: relative;
}

.menu a{
    color: #F0FFFF;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    transition: all .5s;
}

.menu a:hover{
    background: #663399;
}

.menu ul{
    position: absolute;
    left: 0;
    top:100%;
    display: none;
    padding: 0;
}

.menu li:hover ul{
    display: block;
}

.purple li a:hover {
    background: #663399
}

.red-square-cat {
  position: relative;
  width: 46px;
  height: 46px;
  background-color: #DC5954;
}

.lines {
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  border-bottom: 12px double #fff;
  border-top: 4px solid #fff;
  content: "";
  height: 4px;
  width: 30px;
  box-sizing: unset;
  display: inline-block;
  vertical-align: middle;
}
