{% extends 'journal/base.html' %}

{% block title %}
  О нас
{% endblock %}

{% block about_us_active %}
  active
{% endblock %}

{% block content %}
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-1 sidebar">
        </div>
        <div class="col-md-10">
          <div class="tilted-text font"> О нас самих</div>
          <section>
 <details>
    <summary class="faq">Кто мы такие</summary>
    <p>Студенты МГТУ, обучающиеся на кафедре техническая физика и изучающие не только фундаметальные науки и  различных айти сферах.</p>
 </details>
  <details>
    <summary class="faq">Чем мы занимаемся</summary>
    <p> В данной работе мы постарались реализовать платформу для написания и публикации статей в различных сферах жизни. </p>
  </details>
  <!-- добавьте больше вопросов и ответов по аналогии -->
  <details>
    <summary class="faq">Чего мы хотим</summary>
    <p> Мы хотим создать хороший и удобный сайт для юзеров и контентмейкеров. </p>
  </details>

  <details>
    <summary class="faq">Какие перспеcпективы</summary>
    <p> С помощью подписок VIP мы планируем развивать улучшать наш проект, путем расширания рубрик и исправления ошибок. </p>
  </details>

  <details>
    <summary class="faq">Почему мы</summary>
    <p> Всегда готовы развиваться и учиться и развиваться </p>
  </details>


</section>


{% endblock %}



