{% extends 'journal/base.html' %}

{% block title %}
  Подтверждение удаления
{% endblock %}

{% block content %}
  <div class="exit-container alert-light">
    <div class="exit-message">
      <h1>Вы точно хотите удалить статью {{ Article.title }}?</h1>
    </div>
    <div class="exit-actions">
      <form method="post">
        {% csrf_token %}
        <div class="text-center">
          <button class="btn btn-outline-warning" type="submit">Да, удалить</button>
          <a href="{% url 'user-articles' Article.author %}">Нет, оставить</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
