{% extends 'journal/base.html' %}

{% block title %}
  Подтверждение удаления
{% endblock %}

{% block content %}
  <div class="exit-container alert-light">
    <div class="exit-message">
      <h1 class="text-center font fix-tilted-text">Вы точно хотите удалить статью {{ Article.title }}?</h1>
    </div>
    <div class="exit-actions">
      <form method="post">
        {% csrf_token %}
        <div class="text-center">
          <button class="btn btn-dark btn-rectangular text-author" type="submit">Да, удалить</button>
          <button class="btn btn-dark btn-rectangular text-author" type="submit">Нет, оставить</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

