{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'journal/main.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand">Живой Журнал</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% block home_active %}{% endblock %}" aria-current="page" href="{% url 'home' %}">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% block categories_active %}{% endblock %}" href="{% url 'categories' %}">Рубрики</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% block popular_active %}{% endblock %}" href="{% url 'popular' %}">Популярные</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link {% block subscription_active %}{% endblock %}" href="{% url 'subscription' %}">Подписки</a>
            </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link {% block shop_active %}{% endblock %}" href="{% url 'shop' %}">Магазин</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% block about_us_active %}{% endblock %}" href="{% url 'about-us' %}">О нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% block guide_active %}{% endblock %}" href="{% url 'guide' %}">FAQ</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          {% if not user.is_authenticated %}
              <a href="{%  url 'reg' %}">
                 <button class="btn btn-outline-warning">Регистрация</button>
              </a>
              <a href="{%  url 'user' %}">
                 <button class="btn btn-outline-warning">Войти</button>
              </a>
          {% else %}
              <a href="{%  url 'profile' %}">
                 <button class="btn btn-outline-warning">Профиль</button>
              </a>
              <form id="exit" action="{% url "exit" %}" method="POST">
                  {% csrf_token %}
                  <button class="btn btn-outline-warning">Выйти</button>
              </form>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>
{% if messages %}
    {%  for mess in messages %}
        <div class="alert alert-success">{{ mess }}</div>
    {% endfor %}
{%  endif %}
{% block content %}{% endblock %}
</body>
</html>