{% extends 'journal/base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="registration-form alert-light">
      <h1 class="text-center">{{ btn_text }}</h1>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="text-center">
          <button class="btn btn-outline-warning" type="submit">{{ btn_text }}</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}


