{% extends 'journal/base.html' %}

{% block title %}
  FAQ
{% endblock %}

{% block guide_active %}
  active
{% endblock %}

{% block content  %}
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-1 sidebar">
        </div>
        <div class="col-md-10">
          <div class="tilted-text font"> FAQ</div>
<section>
  <details>
    <summary class="faq">Что дает VIP ?</summary >
    <p>Подробность каждого тарифа изложенна в отделе магазин.</p>
  </details>
  <details>
    <summary class="faq">Как зарегестрироваться ?</summary>
    <p> Стандартная регистрация как на всех сайта в сети.</p>
  </details>
  <!-- добавьте больше вопросов и ответов по аналогии -->
    <details>
    <summary class="faq">Как добавить статью ? </summary>
    <p> В кабинете пользователя нажмите соответствующую кнопку и заполните специальную страницу.</p>
  </details>
    <details>
    <summary class="faq">Как удалить статью? </summary>
    <p> В профиле перейти в мои статьи и затем удалите нужную вам статью.</p>
  </details>
    </details>
    <details>
    <summary class="faq">Как удалить статью? </summary>
    <p> В профиле перейти в мои статьи и затем удалите нужную вам статью.</p>
  </details>
  <details>
    <summary class="faq">Как перейти в настройки? </summary>
    <p> В профиле перейти будет соответсвующая кнопка </p>
  </details>

</section>
{% endblock %}



