{% extends 'journal/base.html' %}

{% block title %}
  FAQ
{% endblock %}

{% block guide_active %}
  active
{% endblock %}

{% block content  %}
<section class="faq">
  <details>
    <summary>Вопрос 1: Какая-то информация?</summary>
    <p>Ответ на вопрос 1: Это информация о чем-то важном.</p>
  </details>
  <details>
    <summary>Вопрос 2: Какая-то другая информация?</summary>
    <p>Ответ на вопрос 2: Это информация о чем-то другом важном.</p>
  </details>
  <!-- добавьте больше вопросов и ответов по аналогии -->
</section>
{% endblock %}

