{% extends 'journal/base.html' %}

{% block title %}
  FAQ
{% endblock %}

{% block guide_active %}
  active
{% endblock %}

{% block content  %}
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-1 sidebar">
        </div>
        <div class="col-md-10">
          <div class="tilted-text font"> FAQ</div>
<section>
  <details>
    <summary class="faq">Вопрос 1: Какая-то информация?</summary >
    <p>Ответ на вопрос 1: Это информация о чем-то важном.</p>
  </details>
  <details>
    <summary class="faq">Вопрос 2: Какая-то другая информация?</summary>
    <p>Ответ на вопрос 2: Это информация о чем-то другом важном.</p>
  </details>
  <!-- добавьте больше вопросов и ответов по аналогии -->
</section>
{% endblock %}



