{% extends 'journal/base.html' %}

{% block title %}
  Подписки
{% endblock %}

{% block subscription_active %}
  active
{% endblock %}

{% block content %}
<div class="tilted-text font">Список подписок</div>
<div class="container">
        <ul class="subscription-list">
            {% for follow in follows %}
            {{is_following.follow}}
            <li class="subscription-item">
                <a href="{% url 'user-articles' follow.following.username %}" class="no-underline subscription-user">
                <img class="subscription-user" src="{{ follow.following.profile.img.url }}" alt="{{ follow.following.username }}">
                </a>
                <div class="author-info">
                    <a href="{% url 'user-articles' follow.following.username %}" class="no-underline">
                        <h3 class="font"><b>{{ follow.following.username }}</b></h3>
                    <p>
                        {% if follow.following.profile.status == 'User' %}
                            <img  src="pictures/main_page/user_label.png" alt="Badge" width="180">
                        {% elif follow.following.profile.status == 'Admin' %}
                            <img src="pictures/main_page/admin_label.png" alt="Badge" width="180">
                        {% else %}
                            <img src="pictures/main_page/user_vip_label.png" alt="Badge" width="180">
                        {% endif %}
                    </p>
                    </a>
                </div>
                {% if user.is_authenticated %}
                  {% if follow.following.username != user %}
                    <form method="post" action="{% url 'subscription' %}">
                      {% csrf_token %}
                      <input type="hidden" name="user_id" value="{{ follow.following.id }}">
                      {% if is_following %}
                        <button type="submit" class="btn btn-dark btn-rectangular text-author">Отписаться</button>
                      {% else %}
                        <button type="submit" class="btn btn-danger btn-rectangular text-author">Подписаться</button>
                      {% endif %}
                    </form>
                  {% endif %}
                {% endif %}
            </li>
             {% empty %}
            <li>Вы еще ни на кого не подписались.</li>
            {% endfor %}
        </ul>
    </div>
{% if is_paginated %}
    {% if page_obj.has_previous %}
      <a href="{% url 'subscription' %}" class="btn btn-outline-dark">Начало</a>
      <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-dark">Предыдущая</a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
      {% if num == page_obj.number %}
        <button class="btn btn-dark">{{ num }}</button>
      {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
        <a href="?page={{ num }}" class="btn btn-outline-dark">{{ num }}</a>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-dark">Следующая</a>
      <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-dark">Последняя</a>
    {% endif %}
  {% endif %}
{% endblock %}

