{% extends 'journal/base.html' %}

{% block title %}
  Страница пользователя
{% endblock %}

{% block content %}
    <h2>Все статьи от автора {{ author }}</h2>
    <h4>Количетсво: {{ page_obj.paginator.count }}</h4>
    {% if user.is_authenticated %}
        {% if author != user %}
            <form method="post" action="{% url 'subscription' %}">
              {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ author.id }}">
                {% if is_following %}
                  <button type="submit" class="btn btn-danger">Отписаться</button>
                {% else %}
                  <button type="submit" class="btn btn-primary">Подписаться</button>
                {% endif %}
           </form>
        {% endif %}
    {% endif %}
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-2 sidebar">
          <h5>Здесь может быть другой контент</h5>
        </div>
        <div class="col-md-10">
          {% for article in Article %}
          <div class="alert alert-light">
            <div class="row">
                <h1 style="text-align: center;"><strong>{{ article.title}}</strong></h1>
              <div class="col-md-3">
                  <div class="profile-container">
                    <img src="{{ article.author.profile.img.url }}" alt="{{ author }}" class="user_images">
                    {% if author.profile.status == 'User' %}
                    <img src="/pictures/main_page/user_label.png" alt="Badge" width="180">
                    {% elif author.profile.status == 'Admin' %}
                    <img src="/pictures/main_page/admin_label.png" alt="Badge" width="180">
                    {% else %}
                    <img src="/pictures/main_page/user_vip_label.png" alt="Badge" width="180">
                    {% endif %}
                    <p><b>Автор:</b> <mark>{{ author.username }}</mark></p>
                    {% if user == article.author %}
                      {% if user.profile.status == 'User VIP' or not article.publication %}
                        <a class="btn btn-outline-primary" href="{% url 'articles-update' article.id %}">Редактировать</a>
                      {% elif user.is_superuser %}
                        <a class="btn btn-outline-primary" href="{% url 'articles-update' article.id %}">Редактировать</a>
                      {% endif %}
                    {% endif %}
                    {% if user == article.author or user.is_superuser %}
                      <a class="btn btn-outline-danger" href="{% url 'articles-delete' article.id %}">Удалить</a>
                    {% endif %}
                  </div>
              </div>
              <div class="col-md-9">
                <p><b>Рубрика:</b> {{ article.get_category_display }}</p>
                <p><b>Описание: </b>{{ article.description|striptags|truncatechars:180}}</p>
                  <a class="btn btn-outline-warning" href="{%  url 'articles-detail' article.id %}">Читать далее</a>
                <p class="right-align">Было опубликовано {{ article.date }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
          {% if is_paginated %}
              {% if page_obj.has_previous %}
                  <a href="{% url 'user-articles' view.kwargs.username %}" class="btn btn-outline-danger">Начало</a>
                  <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-danger">Предыдущая</a>
              {% endif %}

              {% for num in page_obj.paginator.page_range %}
                {% if num == page_obj.number %}
                  <button class ="btn btn-danger">{{ num }}</button>
                  {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                    <a href="?page={{ num }}" class="btn btn-outline-danger">{{ num }}</a>
                {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-danger">Следующая</a>
                  <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-danger">Последняя</a>
              {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
{% endblock %}
