{% extends 'journal/base.html' %}

{% block title %}
  Восстановление пароля
{% endblock %}

{% block content %}
  <div class="container auth-container">
    <div class="registration-form alert-light">
      <h1 class="text-center">Восстановление пароля</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="text-center">
          <button class="btn btn-outline-warning" type="submit">Запросить новый пароль</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}


