{% extends 'journal/base.html' %}

{% block title %}
  Настройки пользователя
{% endblock %}

{% block content %}
  Настройки пользователя
  <div class="container">
    <div class="registration-form alert-light">
      <h1 class="text-center">Обновить</h1>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ updateUserForm.as_p }}
        {{ profileForm.as_p }}
        <div class="text-center">
          <button class="btn btn-outline-warning" type="submit">Обновить</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}