{% extends 'journal/base.html' %}

{% block title %}
  Кабинет пользователя
{% endblock %}

{% block content %}
  <div class="font tilted-text">
    Кабинет пользователя
  </div>
  <div class="personal-account">
    <p class="font"><b>Информация обо мне</b></p>
    <div class="profile">
      <div>
        <img class="profile-img" src="{{ user.profile.img.url }}" alt="Profile Picture">
        {% if profile.status == 'User' %}
          <img src="/pictures/main_page/user_label.png" alt="Badge" height="50" width="160" class="badge-image">
        {% elif profile.status == 'Admin' %}
          <img src="/pictures/main_page/admin_label.png" alt="Badge" height="50" width="160" class="badge-image">
        {% else %}
          <img src="/pictures/main_page/user_vip_label.png" alt="Badge" height="50" width="160" class="badge-image">
        {% endif %}
      </div>
      <div class="profile-details text-author">
        <p><b>Имя пользователя:</b> {{ user.username }}</p>
        <p><b>E-mail:</b>
          {% if user.email %}
            {{ user.email }}
          {% else %}
            Не указан
          {% endif %}
        </p>
        <p><b>Статус:</b>
          {% if user.profile.status == 'Admin' %}
            <span class="badge bg-danger text-white">{{ user.profile.get_status_display }}</span>
          {% elif user.profile.status == 'User VIP' %}
            <span class="badge bg-warning text-white">VIP</span>
            {% if user.profile.vip_status_expiry %}
              (VIP до {{ user.profile.vip_status_expiry }})
            {% else %}
              (Навсегда)
            {% endif %}
          {% else %}
            <span class="badge bg-secondary text-white">{{ user.profile.get_status_display }}</span>
          {% endif %}
        </p>
        <p><b>Количество статьей:</b> {{ article_count }}</p>
        <p><b>Количество лайков:</b> {{ total_likes }}</p>
      </div>
    </div>
    <div class="profile-buttons">
      <a href="{% url 'profile_settings' %}" class="btn btn-outline-dark btn-rectangular">Настройки</a>
      <a href="{% url 'article_create' %}" class="btn btn-outline-dark btn-rectangular">Добавить статью</a>
      <a href="{% url 'user_articles' user.username %}" class="btn btn-outline-dark btn-rectangular">Мои статьи</a>
    </div>
  </div>
{% endblock %}
