{% extends 'journal/base.html' %}

{% block title %}
  Настройки пользователя
{% endblock %}

{% block content %}
  <div class="tilted-text font">Настройки пользователя</div>
  <div class="container">
    <div class="registration-form alert-light">
      <h1 class="text-center font">Обновить</h1>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ updateUserForm.as_p }}
        {{ profileForm.as_p }}
        <div class="text-center">
          <button class="btn btn-outline-dark btn-rectangular" type="submit">Обновить</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}